@media (min-width: 768px) {
  .home-wrapper {
    margin-left: 20%;
  }
  .navbar-container {
    transition: none;
    opacity: 1;
    pointer-events: all;
    width: 20%;
    transform: translateX(0);
  }
  #menu-icon {
    display: none;
  }
  #about {
    margin: 30px;
    margin-left: calc(20% + 30px);
  }
  div.skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
